<%if (locals.user && locals.user.id == post.user.id) {%>
<div class="delete-post">
  <a href="/posts/destroy/<%= post.id %>">X</a>
</div>
<%}%>
<p><%=post.content%></p>
<p><%=post.user.name%></p>
<%if(locals.user) {%>
<form action="/comments/post" method="post">
  <input
    type="text"
    name="content"
    placeholder="Comment goes here..."
    required
  />
  <input type="hidden" name="post" value="<%=post._id%>" />
  <input type="submit" value="Comment" />
</form>
<%}%> <%for (let comment of post.comments) {%> <%- include('_comment', {comment:
comment}) -%> <%}%>
